/*  ============= WEB BROWSER RESETS ============ */
* { margin: 0; padding: 0; border: none }
*, *::before, *::after { box-sizing: border-box }
html { height: 100%; font-size: 100%; font: inherit; vertical-align: baseline;
scroll-behavior: smooth; scroll-padding-top: 20px }
body { max-width: 1600px; line-height: 1.5; margin-left: auto; margin-right: auto; 
min-height: 100vh; text-rendering: optimizeSpeed }  
img { width: 100%; height: auto; display: block }
h1, h2, h3, h4 { width: 100% }
input, button, textarea, select { font: inherit }

/* ================= ENDS ================ */

body { background-color: lightcyan;
    font-family: 'Poppins', sans-serif;}

/* Desktops */
@media (min-width: 768px) { body { padding: 4% 20% } }
	
/* Mobiles */
@media (max-width: 767px) { body { padding: 12% 8% } }

body { 
    font-family: 'Merriweather', serif;
    text-align: center;
    font-family: sans-serif;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: calc(42px + (78 - 42) * ((100vw - 320px) / (1600 - 320)));  
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 12px;
    line-height: 1.2;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: calc(28px + (42 - 28) * ((100vw - 320px) / (1600 - 320)));  
    letter-spacing: 6px;
    margin-bottom: 48px;
    line-height: 1.2;
}

h3 {
    font-family: 'Merriweather', serif;
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1600 - 320)));  
    margin-top: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
    text-transform: uppercase;
}

p {
    font-size: calc(17px + (20 - 17) * ((100vw - 320px) / (1600 - 320)));  
    margin-bottom: 16px;
}

